#---------------------------------------
# 💥 컴파일 결과물 (바이너리, 오브젝트 등)
*.o
*.d
*.out
*.bin
*.elf
*.img
*.map
*.lst
*.log
*.qemu
*.raw
*.hex
*.dis
*.dump

#---------------------------------------
# 📦 빌드 디렉토리 및 산출물
**/build/
**/bin/
**/obj/
**/output/

#---------------------------------------
# 🧪 테스트 결과 캐시 파일
.test_status

#---------------------------------------
# 🧼 에디터 임시 파일
*~
*.swp

#---------------------------------------
# 🍏 macOS 전용 시스템 파일
.DS_Store

#---------------------------------------
# 🧪 개인 설정 - VSCode (전원 무시)
.vscode/
